@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/**
 * Basic styles for the popup
 */
body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: initial; 
}

.container {
  padding: 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #A8A8A8;
  font-size: 16px; 
}

/**
 * Font detector specific styles
 */
.font-detector {
  color: #A8A8A8; 
}

.font-detector span {
  color: #fff;
}